/* transform: rotate(180deg); */
/* MY mobile viewport, S20 Ultra 412 x 915  */
/* but it is showing 830 */
/* background-image: linear-gradient(to bottom right, red, yellow);
/* radial-gradient */

/* ___ Fonts ___ */
@font-face {
    font-family: 'ibm';
    src: url(IBMPLEXMONO-REGULAR.TTF);
}

@font-face {
    font-family: 'dustries';
    src: url(dustries.otf);
}

@font-face {
    font-family: 'DIN';
    src: url(dinn.ttf);
}

body {
    background-color: #911afa;
    /* background-image: linear-gradient(to bottom right, #911afa, rgba(255, 48, 2, 0.758)) */
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'ibm plex regular';
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


/* __ Haikei Wave ___ */

svg {
    /* border: solid rgb(0, 253, 0); */
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    min-width: 1300px;
    object-fit: cover;
    fill: #911afa;
    /* background-image: linear-gradient(to bottom right, red, yellow) */
}

/* mobile - 700px and lower* */
@media only screen and (max-width: 800px) {
    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        min-width: 100%;
        object-fit: cover;
        max-height: 1200px;
    }
}



/* ___ Scroll bar ___ */

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 1.25rem;
    border: .375rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}




/* @media only screen and (min-width: 400px) { */

/* ___ Text ___ */
.header {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: dustries;
    font-size: 500%;
    letter-spacing: .3rem;
    color: rgb(243, 254, 255);
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
}

/* ___ Home Background ___ */

.video-header-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.video-header-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(66, 51, 144, 0.517);
    overflow: hidden;
}


/* ______GIF's_______ */

.gif-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: #ffffff solid; */
}

.gif {
    border: rgb(0, 0, 0) solid 2px;
    position: relative;
    width: 45%;
    object-fit: cover;
    margin: 2rem;
    border-radius: 9px;
    max-width: 800px;
    max-height: 600px;
}

/* ___ Mobile GIF's (was 900px last time i verified that it worked___ */
@media only screen and (max-width: 1100px) {
    .gif-cont {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gif {
        display: flex;
        position: relative;
        width: 100%;
        margin: 1rem;
        border-radius: 0px;
    }
}


/* ____ Titles ____ */

.titles {
    margin: 2rem;
    /* border: coral solid 3px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* works */
/* .titles {
    margin: 5rem; 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} */

h2 {
    display: flex;
    align-items: center;
    font-family: ibm;
    color: rgb(0, 0, 0);
    font-size: 330%;
    letter-spacing: .8rem;
}

/* works */
/* h2 {
    font-family: ibm;
    color: rgb(0, 0, 0);
    font-size: 250%;
    letter-spacing: .8rem;
} */