@font-face {
    font-family: 'ibm plex regular';
    src: url(IBMPLEXMONO-REGULAR.TTF);
}

@font-face {
    font-family: 'tisk';
    src: url(TISK.TTF);
}

@font-face {
    font-family: 'dustries';
    src: url(dustries.otf);
}

@font-face {
    font-family: 'DIN';
    src: url(dinn.ttf);
}

@font-face {
    font-family: 'ibm';
    src: url(ibm.otf);
}



body {
    background-color: rgb(15, 13, 29);
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'ibm plex regular';
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}


/* ********************************* */


.video-header-container {
    /* position: relative; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* z-index: 10; */
}

.header {
    z-index: 10;
    /* position: relative; */
    /* margin-bottom: 40rem; */
}

h1 {
    font-family: dustries;
    font-size: 8rem;
    font-weight: 100;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.925),
        0px -4px 10px rgb(15, 15, 15);
}

h2 {
    /* font-family: roboto;Enter */
    font-size: 3rem;
    /* text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.925),
        0px -4px 10px rgb(15, 15, 15); */
}

.curlies {
    font-family: ibm;
    font-size: 22rem;
    margin-bottom: 35rem;
}

.video-header-container video {
    /* min-width: 100%;
    min-height: 100%; */
    object-fit: cover;


    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.623);
    /* color: white; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
}