/* transform: rotate(180deg); */
/* MY mobile viewport, S20 Ultra 412 x 915  */
/* but it is showing 830 */
/* background-image: linear-gradient(to bottom right, red, yellow);
/* radial-gradient */
/* #4359f3 */



/* ___ Fonts ___ */

@font-face {
    font-family: 'ibm';
    src: url(/Fonts/IBMPLEXMONO-REGULAR.TTF);
}

@font-face {
    font-family: 'inter';
    src: url(/Fonts/inter.ttf);
}

body {
    background-color: #4001a5;
}

* {
    font-family: -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'ibm plex regular';
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

/* ___ Scroll bar ___ */

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 1.25rem;
    border: .375rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

/* __ Haikei Wave ___ */

svg {
    /* border: solid rgb(0, 253, 0); */
    position: absolute;
    /* bottom: -150px; */
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 1300px;
    object-fit: cover;
    fill: #911afa;
    /* background-image: linear-gradient(to bottom right, red, yellow) */
}


/* SVG 800px and lower* */
@media only screen and (max-width: 800px) {
    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        min-width: 100%;
        object-fit: cover;
        max-height: 1200px;
    }
}


/* @media only screen and (min-width: 400px) { */

/* ___ Text ___ */
.header {
    /* border: solid red; */
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%
}


h1 {
    text-align: center;
    font-size: 7vw;
    font-family: inter;
    letter-spacing: 0.05em;
    margin-bottom: 9rem;
    background: linear-gradient(1000deg, #ffffff6f 0.03%, #ffffff99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transform: perspective(300px) rotateX(-15deg) skew(-12deg, 1.2deg);
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 15vw;
        font-family: inter;
        letter-spacing: .03em;
        background: linear-gradient(1000deg, #ffffff94 0.03%, #ffffff99 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        transform: perspective(300px) rotateX(-15deg) skew(-12deg, 1.2deg);
    }
}



/* ___ Home Background ___ */

.video-header-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.video-header-container video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}


.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(66, 51, 144, 0.517);
    overflow: hidden;
}


/* ______GIF's_______ */

.gif-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    min-height: 60rem;
    /* border: #ffffff solid; */
    margin-bottom: 10rem;
}

.gif {
    border: rgb(0, 0, 0) solid 2px;
    position: relative;
    width: 45%;
    object-fit: cover;
    margin: 2rem;
    border-radius: 9px;
    max-width: 800px;
    max-height: 600px;
}

/* ___ Mobile GIF's (was 900px last time i verified that it worked___ */
@media only screen and (max-width: 1100px) {
    .gif-cont {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 100rem;
        /* border: solid; */
    }

    .gif {
        display: flex;
        position: relative;
        width: 100%;
        margin: 1rem;
        border-radius: 0px;
    }
}


/* ____ Titles ____ */

.titles {
    margin: 2rem;
    /* border: coral solid 3px; */
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    font-family: ibm;
    color: rgb(255, 255, 255);
    font-size: 330%;
    letter-spacing: .8rem;
}


section .gif-cont {
    /* border: solid; */
    background-image: linear-gradient(to bottom, #4001a5, rgb(74, 0, 93))
}

.audio-cont {
    margin: 4rem;
    /* border: coral solid 3px; */
    display: flex;
    justify-content: center;
}